@import "reset.scss";
@import "responsive.scss";

$primary-color: #e4e4e4;

body{
  background: #fff59d;
  padding: 0%;
  margin: 0%;
}
.container {
  width: 76%;
  
  padding: 0 12%;

  

  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  .up-inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      img {
        width: 62px;
        height: 62px;
      }
      span {
        margin-left: 5px;
        font-size: 28px;
      }
    }
    .input-box {
      display: flex;
      padding: 0 10px;
      justify-content: space-between;
      align-items: center;

      border: 2px solid #b0bbc1;
      border-radius: 10px;
      background-color: white;

      width: 100%;
      max-width: 700px;
      
      height: 50px;

      .note-input {
        width: 600px;
        
        
        min-width: 20%;
        height: 40px;
      
        border: unset;
        background: transparent;
        font-size: 18px;
      }
      .add-container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        margin: 10px;
        padding: 5px 5px;
        border-radius: 35px;
        background-color: #76df29;
        border: #b0bbc1 2px;
        img {
          width: 22px;
          height: 20px;
        }
        span {
          font-size: 18px;
        }
      }
      .add-container:hover {
        background-color: #c3f8bb;
      }
    }
  }
  .content-container {
    display: flex;

   
    width: 100%;
    max-width: 700px;
    height: 450px;

    margin: 20px 0;
    padding: 10px;

    border-radius: 10px;
    background-color: #fdfefe;
    border: #bebebe 1px solid;
    box-shadow: 0px 0px 10px rgb(196, 196, 196);
    .note-list::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
    .note-list {
      display: flex;
      overflow: scroll;
      
      width: 100%;
      max-width: 700px;
      ul li:hover {
        background: #ddd;
        
      }
      ul::-webkit-scrollbar {
        display: none; /* for Chrome, Safari, and Opera */
      }
      ul {
        width: inherit;
       overflow: scroll;
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          justify-items: stretch;
          
    
         
          font-size: 18px;
          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
           
         
        
          
          padding: 10px 20px;
          
          border-radius: 10px;

          button {
            border: unset;
            width: 28px;
            height: 28px;
           margin: 0 10px;
            border-radius: 35px;
            background-color: red;
            display: flex;
            align-items: center;
            justify-content: center;

           }
        
        }
      }
    }
  }
}



