
.hor-Spacing {
  margin: 0 40px;
}

.container {
    margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;


  header {
      width: 96%;
      margin: 1%;
      padding: 0 40px;
     .nav{
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: center;
      justify-content: space-between;
      min-width: 430px;
      img{
          background-color: white;
          width: 22px;
          height: 22px;
      }

      margin: 5px 0;
      padding: 10px;
       
      
      height: 30px;
      border-radius:30px ;
      border-radius: 5px;

      background-color: #73a6f3;

    .search-container{
        background-color: #ffffff;
        height: 30px;
        input{
            width: 200px;
            height: 25px;
            border: unset;
        }
        .searchbtn{
            border: unset;
           color: #05339c;
           border: 1px;
           padding: 5px;
           width: 80px;
           
            
            background-color: #ffffff;
        }
    
        }
    }
  }

  .movie-container {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    width: 100%;
    justify-content: center;

    .post {
      display: flex;
      
      align-items: center;
      height: auto;
      width: 550px;
      margin: 10px;

      padding: 12px;
      background-color: #e4e4e4;

      border-radius: 5px;
      box-shadow: gray 0 0 8px;

      .poster-container {
        img {
          width: 100%;
          height: 300px;

          border-radius: 8px;
        }
      }
      .desc {
          width: 70%;
      margin: 0 10px;
      
      display: flex;
      align-content: center;
      flex-direction: column;
        h1 {
            margin: 5px;
          font-size: 24px;
          text-align: left;
        }
       .rating{
           background-color:#05339c;
           color: #ffffff;
           text-align: center;
           padding: 2.5px 5px;
           width: 25px;
           box-shadow: rgb(2, 52, 170) 0 0 4px;
          
       }
       .overview{
           margin: 10px 0;
           font-size: 15px;
       }
      }
    }
  }
}
