$primary-color: #e4e4e4;

* {
  color: #333;
}

.inner-container {
  padding: 0px 30px;
}

.inner-container-2 {
  padding: 0px 45px;
}

.verticle-spacing {
  padding: 60px 0px;
}

.verticle-spacing-work-box {
  padding: 20px 0px;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 25px;

    .section-heading {
      @include big-text(48px);
    }

    .socials {
      width: 200px;
      height: 50px;
      padding: 0%;

      border: 4px solid #e4e4e4;
      border-radius: 12px;

      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
      }
    }
  }

  .hero {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    .mini-socials{
      display: none;
    }

    .avatar {
      display: flex;
      flex: 1;
      min-width: 200px;
    }

    img {
      width: 100%;
      height: auto;
      margin: 1%;
    }

    article {
      margin: 50px;
    }
  }

  .skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;

    .skill-image {
      display: flex;
      justify-items: center;
      justify-content: center;

      img {
        min-width: 510px;
        width: 510px;
        height: auto;
        margin: 1%;
      }
    }
  }
}

.ash {
  background-color: $primary-color;
}

.section-heading {
  @include big-text(38px);
  padding-left: 10px;
}

.hero-running {
  @include open-sans(20px);
  margin: 15px;
}

.work-text {
  //padding-right: 45px;
  text-decoration: underline;
}

.text-right {
  text-align: right;
}

.work-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.zoom {
  margin: 5px;
  background-color: green;
  transition: transform 0.2s;
  /* Animation */
  width: 390px;
  height: 400px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.1);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.work-box-orange {
  @include work-box(#2f80ed);
}

.work-box-blue {
  @include work-box(#f3994a);
}

.work-box-red {
  @include work-box(rgba(235, 87, 87, 1));
}

.work-box-green {
  @include work-box(rgba(33, 150, 83, 1));
}

.work-box-yellow {
  @include work-box(rgba(242, 201, 76, 1));
}

.work-box-purple {
  @include work-box(rgba(155, 81, 224, 1));
}

.inner-box {
  width: 390px;
  height: 100px;
  background-color: rgba(29, 29, 29, 0.81);
  margin-bottom: 40px;
}

.inner-text-background {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.icons {
  padding: 100px 100px;

  img {
    width: 82px;
    height: auto;
  }
}

.work-box-text {
  font-family: "Playfair Display";
  font-size: 34px;
  color: #f9f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e4e4e4;
  padding: 10px 20px;

  .footer-right {
    margin-right: 20px;

    h6 {
      font-family: "Playfair Display";
      text-align: center;
      color: #606060;
      font-size: medium;
    }
  }

  .footer-left {
    h6 {
      font-family: "Times New Roman", Times, serif;
      text-decoration: underline;
      text-align: left;
      color: #606060;
      line-height: 1px;
      font-size: small;
    }

    p {
      font-family: "Times New Roman", Times, serif;
      color: #606060;
      font-size: small;
    }
  }
}
