/* Extra small devices (phones, 600px and down) */
@import "mixins";
@media only screen and (max-width: 600px) {
  .hero-running{
    text-align:center;

  }
  .container {
    width: 100%;
    display: block;
    .inner-container {
      margin: 0;
      padding: 0px 10px;
    }

    header {
      background-color: #f4f4f4;
      margin: 0px;
      margin: 0px -10px;
      .section-heading {
        @include big-text(2rem);
        text-align: center;
        flex: 1;
        max-width: 100%;
      }
      .socials {
        display: none;
      }
    }
    .hero {
      display: flex;
      justify-content: center;
      padding: 0;
      .mini-socials{
        display: block;
        display: flex;

        margin: 5px 0;
      
        img{
          margin: 10px;
          width: 28px;
          height: 28px;
        }
        a{
          text-decoration: none;
        }
       }
      flex-direction: column;
      .socials {
        display: none;
        padding: 0%;
      }

      .info {
        .section-heading {
          text-align: center;
          padding-bottom: 16px;
        }
        p {
          margin: 0;
          text-align: center;
        }
      }
    }

    .skills {
      flex-direction: column-reverse;

      .skills-text {
        .section-heading {
          text-align: center !important;
          margin: 15px;
          padding: 0;
        }
      }
      .skill-image {
        img {
          min-width: auto;
          max-width: 100%;
        }
      }
    }
    
    .Hero {
      
      .work-text {
        .avatar {
       img{
        width: 100%;
       }
       }

        p {
          text-align: center;
          padding: 0;
        }

      }
      .zoom {
        margin: 10px 0;
       
      }

  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .socials {
    display: block;
  }
  .mini-socials{
    display: none;
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mini-socials{
    display: none;
   }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .mini-socials{
    display: none;
   }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  .mini-socials{
    display: none;
   }
}
}