@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  color: #333;
}

.inner-container {
  padding: 0px 30px;
}

.inner-container-2 {
  padding: 0px 45px;
}

.verticle-spacing {
  padding: 60px 0px;
}

.verticle-spacing-work-box {
  padding: 20px 0px;
}

a {
  text-decoration: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 25px;
}

.container header .section-heading {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 62.4px;
}

.container header .socials {
  width: 200px;
  height: 50px;
  padding: 0%;
  border: 4px solid #e4e4e4;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header .socials img {
  width: 32px;
  height: 32px;
}

.container .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .hero .mini-socials {
  display: none;
}

.container .hero .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 200px;
}

.container .hero img {
  width: 100%;
  height: auto;
  margin: 1%;
}

.container .hero article {
  margin: 50px;
}

.container .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
}

.container .skills .skill-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .skills .skill-image img {
  min-width: 510px;
  width: 510px;
  height: auto;
  margin: 1%;
}

.ash {
  background-color: #e4e4e4;
}

.section-heading {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 49.4px;
  padding-left: 10px;
}

.hero-running {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  margin: 15px;
}

.work-text {
  text-decoration: underline;
}

.text-right {
  text-align: right;
}

.work-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.zoom {
  margin: 5px;
  background-color: green;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  /* Animation */
  width: 390px;
  height: 400px;
  margin: 0 auto;
}

.zoom:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.work-box-orange {
  width: auto;
  height: 400px;
  background: #2f80ed;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin: 30px 30px;
}

.work-box-blue {
  width: auto;
  height: 400px;
  background: #f3994a;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin: 30px 30px;
}

.work-box-red {
  width: auto;
  height: 400px;
  background: #eb5757;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin: 30px 30px;
}

.work-box-green {
  width: auto;
  height: 400px;
  background: #219653;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin: 30px 30px;
}

.work-box-yellow {
  width: auto;
  height: 400px;
  background: #f2c94c;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin: 30px 30px;
}

.work-box-purple {
  width: auto;
  height: 400px;
  background: #9b51e0;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  margin: 30px 30px;
}

.inner-box {
  width: 390px;
  height: 100px;
  background-color: rgba(29, 29, 29, 0.81);
  margin-bottom: 40px;
}

.inner-text-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.icons {
  padding: 100px 100px;
}

.icons img {
  width: 82px;
  height: auto;
}

.work-box-text {
  font-family: "Playfair Display";
  font-size: 34px;
  color: #f9f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e4e4e4;
  padding: 10px 20px;
}

.footer-container .footer-right {
  margin-right: 20px;
}

.footer-container .footer-right h6 {
  font-family: "Playfair Display";
  text-align: center;
  color: #606060;
  font-size: medium;
}

.footer-container .footer-left h6 {
  font-family: "Times New Roman", Times, serif;
  text-decoration: underline;
  text-align: left;
  color: #606060;
  line-height: 1px;
  font-size: small;
}

.footer-container .footer-left p {
  font-family: "Times New Roman", Times, serif;
  color: #606060;
  font-size: small;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero-running {
    text-align: center;
  }
  .container {
    width: 100%;
    display: block;
  }
  .container .inner-container {
    margin: 0;
    padding: 0px 10px;
  }
  .container header {
    background-color: #f4f4f4;
    margin: 0px;
    margin: 0px -10px;
  }
  .container header .section-heading {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.6rem;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 100%;
  }
  .container header .socials {
    display: none;
  }
  .container .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .hero .mini-socials {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5px 0;
  }
  .container .hero .mini-socials img {
    margin: 10px;
    width: 28px;
    height: 28px;
  }
  .container .hero .mini-socials a {
    text-decoration: none;
  }
  .container .hero .socials {
    display: none;
    padding: 0%;
  }
  .container .hero .info .section-heading {
    text-align: center;
    padding-bottom: 16px;
  }
  .container .hero .info p {
    margin: 0;
    text-align: center;
  }
  .container .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .container .skills .skills-text .section-heading {
    text-align: center !important;
    margin: 15px;
    padding: 0;
  }
  .container .skills .skill-image img {
    min-width: auto;
    max-width: 100%;
  }
  .container .Hero .work-text .avatar img {
    width: 100%;
  }
  .container .Hero .work-text p {
    text-align: center;
    padding: 0;
  }
  .container .Hero .zoom {
    margin: 10px 0;
  }
  /* Small devices (portrait tablets and large phones, 600px and up) */
}

@media only screen and (max-width: 600px) and (min-width: 600px) {
  .socials {
    display: block;
  }
  .mini-socials {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  /* Medium devices (landscape tablets, 768px and up) */
}

@media only screen and (max-width: 600px) and (min-width: 768px) {
  .mini-socials {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  /* Large devices (laptops/desktops, 992px and up) */
}

@media only screen and (max-width: 600px) and (min-width: 992px) {
  .mini-socials {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  /* Extra large devices (large laptops and desktops, 1200px and up) */
}

@media only screen and (max-width: 600px) and (min-width: 1200px) {
  .mini-socials {
    display: none;
  }
}
